<title>Countdown Timer</title>

<!-- custom css and js -->
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<script type="text/javascript" src="js/main.js"></script>

<meta name="keywords" content="Countdown Timer, Countdown, Online Countdown,free online countdown, free flash countdown, large countdown, countdown timer, online countdown timer, free countdown timer, banana timer" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173443629-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173443629-1');
</script>