<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header')%>
</head>
<body>

    <!-- uncomment this navbar if needed <%- include ('../partials/nav')%> -->
    
    <div class="container mt-3">
        <div class="input-group">
            <input type="number" class="form-control mb-3" id="hours" placeholder="00h">
            <input type="number" class="form-control mb-3" id="mins" placeholder="00m">
            <input type="number" class="form-control mb-3" id="secs" placeholder="00s">
        </div>

        <div class="btns">
            <button class="btn btn-primary" id="start" onclick="setTimer()">Start</button>
            <button class="btn btn-secondary" onclick="resetTimer()">Reset</button>    
        </div>
        

        <div id="display"></div>
    </div>
    

<script>

let intervalID
let tmpTime

function setTimer(){

    const h = document.getElementById('hours').value
    const m = document.getElementById('mins').value
    const s = document.getElementById('secs').value
    let timer = h * 3600 + m * 60 + s * 1

    let status = document.getElementById("start").innerHTML

    if( status == 'Start' ){
        document.getElementById("start").innerHTML = "Stop"
        if(tmpTime){ timer = tmpTime }
        intervalID = setInterval(function(){ start() }, 1000) 
    }else{
        document.getElementById("start").innerHTML = "Start"
        clearInterval(intervalID)
    }

    let start = () => {
        let hours = Math.floor(timer / 3600)
        let minutes = Math.floor((timer % 3600) / 60)
        let seconds = Math.floor(timer % 60)
        timer -= 1;
        tmpTime = timer
        document.getElementById("display").innerHTML = hours + "h " + minutes + "m " +seconds + "s "
        document.getElementsByTagName("title")[0].innerHTML = hours + ":" + minutes + ":" +seconds + " - Countdown Timer"

        if (timer < 0){
            clearInterval(intervalID)
            let ring = new Audio('/audio/bell.mp3')
            ring.play()
            document.getElementById("display").innerHTML = "Times Up"
            document.getElementsByTagName("title")[0].innerHTML = "Times Up - Countdown Timer"
        }
    }
}

function resetTimer(){
    clearInterval(intervalID)
    tmpTime = undefined
    document.getElementById("start").innerHTML = "Start"
    document.getElementById("display").innerHTML = ""
    document.getElementsByTagName("title")[0].innerHTML = "Countdown Timer"
}
</script>

</body>
</html>