<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header')%>
</head>
<body>
    
    <div class="wrapper">
        
        <%- include ('../partials/nav')%>

        <!-- Page Content -->
        <div class="content mt-3">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
        
                    <button type="button" id="sidebarCollapse" class="btn btn-light">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-justify" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                          </svg>
                    </button>
        
                </div>
            </nav>

            

            <div class="board"> 
                <div id="display"></div>

                <div class="btns">
                    <button class="btn btn-primary" id="start" onclick="setTimer()">Start</button>
                    <button class="btn btn-secondary" onclick="resetTimer()">Reset</button>    
                </div>  
            </div>
            
        </div>

        <!-- Dark Overlay element -->
        <div class="overlay"></div>
        
    </div>
    

<script>

let intervalID
let tmpTime

function setTimer(){

    const h = document.getElementById('hours').value
    const m = document.getElementById('mins').value
    const s = document.getElementById('secs').value
    let timer = h * 3600 + m * 60 + s * 1

    let status = document.getElementById("start").innerHTML

    if( status == 'Start' ){
        document.getElementById("start").innerHTML = "Stop"
        if(tmpTime){ timer = tmpTime }
        intervalID = setInterval(function(){ start() }, 1000) 
    }else if(status == 'Stop'){
        document.getElementById("start").innerHTML = "Start"
        clearInterval(intervalID)
    }else{
        resetTimer()
    }

    let start = () => {
        let hours = Math.floor(timer / 3600)
        let minutes = Math.floor((timer % 3600) / 60)
        let seconds = Math.floor(timer % 60)
        timer -= 1;
        tmpTime = timer
        document.getElementById("display").innerHTML = hours + "h " + minutes + "m " +seconds + "s "
        document.getElementsByTagName("title")[0].innerHTML = hours + ":" + minutes + ":" +seconds + " - Countdown Timer"

        if (timer < 0){
            let ring = new Audio('/audio/bell.mp3')
            ring.play()
            document.getElementById("display").innerHTML = "Times Up"
            document.getElementById("start").innerHTML = "OK"
            document.getElementsByTagName("title")[0].innerHTML = "Times Up - Countdown Timer"
        }
    }
}

function resetTimer(){
    clearInterval(intervalID)
    tmpTime = undefined
    document.getElementById("start").innerHTML = "Start"
    document.getElementById("display").innerHTML = ""
    document.getElementsByTagName("title")[0].innerHTML = "Countdown Timer"
}
</script>

<script>
$(document).ready(function () {

    $('#sideStart').on('click', function (){
        $('.btns > button').toggleClass('active');
    });

    $('#dismiss, .overlay, #sideStart').on('click', function () {
        // open or close navbar
        $('#sidebar').toggleClass('active');
        // open or close overlay
        $('.overlay').toggleClass('active');
    });

    $('#sidebarCollapse').on('click', function () {
        // open or close navbar
        $('#sidebar').toggleClass('active');
        // open or close overlay
        $('.overlay').toggleClass('active');
        // close dropdowns
    });

});
</script>

</body>
</html>