<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Project</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
    <div class="container mt-3">
        <input type="text" class="form-control mb-3" id="timer">
        <button class="btn btn-success pull-right" id="start" onclick="setTimer()">Start</button>
        <div id="display"></div>
    </div>
    

<script>

function setTimer(){

    const setTime = (time) => {
        return Math.floor(time / 10000) * 3600 + Math.floor((time % 10000) / 100) * 60 + (time % 100)
    }

    let timer = setTime(document.getElementById('timer').value)

    let x = setInterval(() => {
        
        let hours = Math.floor(timer / 3600);
        let minutes = Math.floor((timer % 3600) / 60);
        let seconds = Math.floor(timer % 60);
        timer -= 1;
        document.getElementById("display").innerHTML = hours + "h " + minutes + "m " +seconds + "s "

        if (timer < 0){
            clearInterval(x)
            let ring = new Audio('/audio/bell.mp3')
            ring.play()
            document.getElementById("display").innerHTML = "Times Up"

        }


    }, 1000)

    
}
</script>
</body>
</html>