<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header')%>
</head>
<body>

    <!-- uncomment this navbar if needed <%- include ('../partials/nav')%> -->
    
    <div class="container mt-3">
        <input type="text" class="form-control mb-3" id="timer">
        <button class="btn btn-success pull-right" id="start" onclick="setTimer()">Start</button>
        <div id="display"></div>
    </div>
    

<script>

function setTimer(){

    const setTime = (time) => {
        return Math.floor(time / 10000) * 3600 + Math.floor((time % 10000) / 100) * 60 + (time % 100)
    }

    let timer = setTime(document.getElementById('timer').value)

    let x = setInterval(() => {
        
        let hours = Math.floor(timer / 3600);
        let minutes = Math.floor((timer % 3600) / 60);
        let seconds = Math.floor(timer % 60);
        timer -= 1;
        document.getElementById("display").innerHTML = hours + "h " + minutes + "m " +seconds + "s "

        if (timer < 0){
            clearInterval(x)
            let ring = new Audio('/audio/bell.mp3')
            ring.play()
            document.getElementById("display").innerHTML = "Times Up"

        }


    }, 1000)

    
}
</script>
</body>
</html>